
#include "winver.h"

// 1 is the default icon ID
1 ICON "icon.ico"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION     1,0,0,0
    PRODUCTVERSION  1,0,0,0
    FILEFLAGSMASK   0x3fL
#ifdef _DEBUG
    FILEFLAGS       0x1L
#else
    FILEFLAGS       0x0L
#endif
    FILEOS          VOS_NT_WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" // U.S. English, Unicode
        BEGIN
            VALUE "CompanyName",      "com.PestyMore\0"
            VALUE "FileDescription",  "A lightweight, always-on-top cheatsheet app.\0"
            VALUE "FileVersion",      "1.0.0.0\0"
            VALUE "InternalName",     "tipBoard.exe\0"
            VALUE "LegalCopyright",   "Copyright (C) 2026. All rights reserved.\0"
            VALUE "OriginalFilename", "tipBoard.exe\0"
            VALUE "ProductName",      "tipBoard\0"
            VALUE "ProductVersion",   "1.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200 // U.S. English, Unicode
    END
END
